<h1>
  Bill Splitter
</h1>

<h2>
  Lista dos Produtos
</h2>

<!-- <div class="list">
  <% unless @renderme.nil? %>
    <ul>
      <% @renderme.each do |item|%>
        <li><a id="item[id]" href="view?item=<%=item['id']%>"> <%= item["name"] %> - preço: R$ <%= item["price"]%>0</a></li>
      <% end %>
    </ul>
  <% end %>
</div> -->


<div class="table_all">
  <table class="product_table">
    <tr>
      <th>Produto</th>
      <th>Preço</th>
      <th class="option">Editar</th>
      <th class="option">Excluir</th>
    </tr>
    <% unless @renderme.nil? %>
      <% @renderme.each do |item|%>
        <tr>
          <td><a id="item[id]" href="<%= view_path(item: item['id']) %>"> <%= item["name"] %></a></td>
          <td><a id="item[id]" href="<%= view_path(item: item['id']) %>"> R$ <%= item["price"]%>0</a></td>
          <td class="option"><%= link_to "✏️", edit_path(item: item["id"]) %></td>
          <td class="option"><%= link_to "🗑", delete_path(item: item["id"]), method: :delete %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="items">
  <div class="form_field">
    <form action="/" method="GET">
      <input type="submit" class="back_btn" value="Cadastrar novo produto"/>
    </form>
  </div>
</div>
