<h1>
  Bill Splitter
</h1>

<h2>
  Item Adicionado
</h2>

<div class="show_product">
  <table class="product_table">
    <tr>
      <th>Produto</th>
      <td><%= @product["name"] %></td>
    </tr>
    <tr>
      <th>Preço</th>
      <td><%= @product["price"] %></td>
    </tr>
    <tr>
      <th>Quantidade</th>
      <td><%= @product["quantity"] %></td>
    </tr>
    <tr>
      <th>Número de pessoas</th>
      <td><%= @product["number_of_people_sharing"] %></td>
    </tr>
  </table>
</div>

<div class="value">
  <table class="value_table">
    <tr>
      <td><%= @total %></td>
    </tr>
    <tr>
      <td><%= @answer %></td>
    </tr>
  </table>
</div>

<div class="btn_class">
  <form action=<%= list_path %> method="GET">
    <input type="submit" class="back_btn" value="Ver lista de produtos"/>
  </form>
</div>

<div class="btn_class">
  <form action="/" method="GET">
    <input type="submit" class="back_btn" value="Cadastrar novo produto"/>
  </form>
</div>
