<h1>
  Bill Splitter
</h1>

<div class="items">
  <form action=<%= new_path %> method="POST">
    <div class="form_field">
      <!-- <label for="name_id">Nome do item:</label> -->
      <input class="input" type="text" placeholder="Nome do item" id="name_id" name="name" value="<%= @name %>" />
    </div>
    <div class="form_field">
      <!-- <label for="price_id">Preço do item:</label> -->
      <input class="input" type="text" placeholder="Preço do item" id="price_id" name="price" value="<%= @price %>" />
    </div>
    <div class="form_field">
      <!-- <label for="quantity_id">Quantidade:</label> -->
      <input class="input" type="text" placeholder="Quantidade" id="quantity_id" name="quantity" value="<%= @quantity%>" />
    </div>
    <div class="form_field">
      <!-- <label for="number_of_people_sharing_id">Número de pessoas:</label> -->
      <input class="input" type="text" placeholder="Número de pessoas" id="number_of_people_sharing_id" name="number_of_people_sharing" value="<%= @number_of_people_sharing%>" />
    </div>
    <div class="form_field">
      <input type="submit" class="btn" value="Split!"/>
    </div>
    <span>

    <div class="value">
      <span><%= @total %></span>
      </span>
    </div>

    <div class="value">
      <span><%= @answer %></span>
      </span>
    </div>
  </form>
</div>

<div class="items">
  <div class="form_field">
    <form action=<%= list_path %> method="GET">
      <input type="submit" class="show_btn" value="Show all"/>
    </form>
  </div>
</div>

<div class="list">
  <% unless @renderme.nil? %>
    <ul>
      <% @renderme.each do |item|%>
        <li><a id="item[id]" href="view?item=<%=item['id']%>"> <%= item["name"] %> - preço: R$ <%= item["price"]%>0</a></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="product">
  <form action=<%= view_path %> method="GET">
  <% unless @single_product.nil? %>
    Produto: <%= @single_product["name"] %><br/>
    Preço: <%= @single_product["price"] %><br/>
    Quantidade: <%= @single_product["quantity"] %><br/>
    Número de pessoas a dividir: <%= @single_product["number_of_people_sharing"] %><br/>
    <% end %>
  </form>
</div>
