<h1>
  Bill Splitter
</h1>

<div class="init_icon">
<%= image_tag "icone_comida.png", class: "food_icon"%>
</div>

<div class="items">
  <form action=<%= new_path %> method="POST">
    <div class="form_field">
      <!-- <label for="name_id">Nome do item:</label> -->
      <input class="input" type="text" placeholder="Nome do item" id="name_id" name="name" value="<%= @name %>" />
    </div>
    <div class="form_field">
      <!-- <label for="price_id">Preço do item:</label> -->
      <input class="input" type="text" placeholder="Preço do item" id="price_id" name="price" value="<%= @price %>" />
    </div>
    <div class="form_field">
      <!-- <label for="quantity_id">Quantidade:</label> -->
      <input class="input" type="text" placeholder="Quantidade" id="quantity_id" name="quantity" value="<%= @quantity%>" />
    </div>
    <div class="form_field">
      <!-- <label for="number_of_people_sharing_id">Número de pessoas:</label> -->
      <input class="input" type="text" placeholder="Número de pessoas" id="number_of_people_sharing_id" name="number_of_people_sharing" value="<%= @number_of_people_sharing%>" />
    </div>
    <div class="form_field">
      <input type="submit" class="btn" value="Split!"/>
    </div>
    <span>
  </form>
</div>

<div class="items">
  <div class="form_field">
    <form action=<%= list_path %> method="GET">
      <%= image_tag "orange-beer-256.png", class: "home_image"%>
      <input type="submit" class="show_btn" value="Show all"/>
    </form>
  </div>
</div>
