<h1 style="font-family: Verdana; color: black;">
  Bill Splitter
</h1>

<div style="font-size: 18px; font-family: Verdana;">
  <form action=<%= split_path %> method="POST">

    <label for="item_id">Preço do item:</label>
    <input id="item_id" name="item" value="<%= @item %>" /> <br/>

    <label for="quantity_id">Quantidade:</label>
    <input id="quantity_id" name="quantity" value="<%= @quantity%>" /> <br/>

    <label for="number_of_people_sharing_id">Número de pessoas a dividir:</label>
    <input id="number_of_people_sharing_id" name="number_of_people_sharing" value="<%= @number_of_people_sharing%>" /> <br/> <br/>

    <input type="submit" class="btn" value="Split!"
    style="padding: 14px; font-family: Verdana; font-size: 15px;
    border-radius: 10px; background-color: #00a3cc; color: white;" />  

    <span style="font-weight: bold; font-size:20px;">

    Total para cada um: <span style="color: #00a3cc;"><%= @answer %></span>
    </span>
  </form>
</div>

</br>
</br>

<div style="font-size: 18px; font-family: Verdana;">
  <form action=<%= list_path %> method="GET">

    <input type="submit" class="btn" value="Show all"
    style="padding: 14px; font-family: Verdana; font-size: 15px;
    border-radius: 10px; background-color: #00a3cc; color: white;" />  <br/> <br/>
  </form>

<% unless @renderme.nil? %>
  <ul>
    <% @renderme.each do |item|%>
      <li><a id="item[id]" href="view?item=<%=item['id']%>"> <%= item["name"] %> </a></li>
    <% end %>
  </ul>
<% end %>
</div>

<div style="font-size: 18px; font-family: Verdana;">
  <form action=<%= view_path %> method="GET">

  <% unless @single_product.nil? %>
    Produto: <%= @single_product["name"] %> <br/>
    Preço: <%= @single_product["price"] %> <br/>
    Quantidade: <%= @single_product["quantity"] %> <br/>
    Número de pessoas a dividir: <%= @single_product["number_of_people_sharing"] %> <br/>
    <% end %>
</div>
