<h1>
  Bill Splitter
</h1>

<div>
  <form action=<%= new_path %> method="POST">

    <label for="name_id">Nome do item:</label>
    <input id="name_id" name="name" value="<%= @name %>" />

    <label for="price_id">Preço do item:</label>
    <input id="price_id" name="price" value="<%= @price %>" />

    <label for="quantity_id">Quantidade:</label>
    <input id="quantity_id" name="quantity" value="<%= @quantity%>" />

    <label for="number_of_people_sharing_id">Número de pessoas a dividir:</label>
    <input id="number_of_people_sharing_id" name="number_of_people_sharing" value="<%= @number_of_people_sharing%>" />

    <input type="submit" class="btn" value="Split!"/>

    <span>

    Total para cada um: <span><%= @answer %></span>
    </span>
  </form>
</div>

<div>
  <form action=<%= list_path %> method="GET">
    <input type="submit" class="btn" value="Show all"/>
  </form>

  <% unless @renderme.nil? %>
    <ul>
      <% @renderme.each do |item|%>
        <li><a id="item[id]" href="view?item=<%=item['id']%>"> <%= item["name"] %> </a></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <form action=<%= view_path %> method="GET">
  <% unless @single_product.nil? %>
    Produto: <%= @single_product["name"] %>
    Preço: <%= @single_product["price"] %>
    Quantidade: <%= @single_product["quantity"] %>
    Número de pessoas a dividir: <%= @single_product["number_of_people_sharing"] %>
    <% end %>
  </form>
</div>
